<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styletable.css">
    <title>Aprovação de Hora Extra</title>
</head>
<body>
    <h2>APROVAÇÃO DAS HORAS EXTRAS</h2>
    <h3>Gestor:</h3>
    <div>
    <table border="3">
        <thead>
        <tr>
            <th>Funcionário</th>
            <th>Matrícula</th>
            <th>Entrada</th>
            <th>Saída</th>
            <th>Data</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Maria</td>
            <td>58484161</td>
            <td>15:00</td>
            <td>21:00</td>
            <td>04/10/2022</td>
            <td><form action="" method="get">
                <input type="checkbox" id="vehicle1" name="vehicle1" value="Aprovado">
                <label for="vehicle1"> Aprovado</label><br>
                <input type="checkbox" id="vehicle2" name="vehicle2" value="Reprovado">
                <label for="vehicle2"> Reprovado</label><br>
            </form></td>
        </tr>
        <tr>
            <td>João</td>
            <td>98798546</td>
            <td>10:00</td>
            <td>18:00</td>
            <td>14/06/2022</td>
            <td><form action="" method="get">
                <input type="checkbox" id="vehicle1" name="vehicle1" value="Aprovado">
                <label for="vehicle1"> Aprovado</label><br>
                <input type="checkbox" id="vehicle2" name="vehicle2" value="Reprovado">
                <label for="vehicle2"> Reprovado</label><br>
            </form></td>
        </tr>
        <tr>
            <td>Carlos</td>
            <td>36216548</td>
            <td>07:00</td>
            <td>14:00</td>
            <td>25/09/2022</td>
            <td><form action="" method="get">
                <input type="checkbox" id="vehicle1" name="vehicle1" value="Aprovado">
                <label for="vehicle1"> Aprovado</label><br>
                <input type="checkbox" id="vehicle2" name="vehicle2" value="Reprovado">
                <label for="vehicle2"> Reprovado</label><br>
            </form></td>
        </tr>
    </tbody>
    </table>
</div>
    <br>
    <button type="button" onclick="alert('As solicitações serão enviadas para o RH. Deseja continuar?')">Atualizar</button>
</body>
</html>